.title {
  color: white !important;
}
a{
  text-decoration: none;
  color: inherit;
}
.container {
  width: 60%;
  padding: 20px;
  margin: 30px auto;
  min-height: 70vh;
}
.home {
  width: 60%;
  padding: 100px;
  margin: 30px auto;
  min-height: 70vh;
}
.booth-card {
  padding: 5px;
  margin-bottom: 10px;
}
.button {
  margin: 10px !important;
}
.loader {
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 50%;
}
.avatar {
  float: right;
  border: 2px solid lightblue;
  width: 180px;
  height: 200px;
}
.party {
  line-height: 30px;
  font-size: 30px;
}
.logo {
  width: 30px;
  height: 30px;
}
.grid>*{
  padding: 20px;
}
li{
  text-transform: capitalize;
  font-size: 24px;
  color: purple;
}